body { 
    background: url(../assets/login_bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    overflow: hidden;
    margin-top: 20%;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 2%;
    -webkit-text-stroke: 2px black;
}

.btn {
    font-weight: 600;
    font-size: x-large;
    width: 40%;
    height: 50px;
    margin: 2% 30% 2%;
}

@media only screen and (max-width: 575px) {
    .form-control {
        margin-left: 2vw;
        width: 96vw;
    }
}
